<div class="container">

  <h1 class="mt-5">nested selectors</h1>
  <hr>

  <form [formGroup]="myForm"
        (ngSubmit)="submit()">

    <!-- Select a continent -->
    <div class="row mb-3">
      <div class="col">
        <label class="form-label"></label>
          <select class="form-control"
                  formControlName="region">
            <option value="">--Select a cotinent--</option>
            <option *ngFor="let region of regions"
                    [value]="region | lowercase">
              {{ region }}
            </option>
          </select>
        </div>
    </div>

    <!-- Select a country -->
    <div class="row mb-3">
      <div class="col">
        <label class="form-label"></label>
          <select class="form-control"
                  formControlName="country">
            <option value="">--Select a country--</option>
            <option *ngFor="let country of countries"
                    [value]="country.alpha3Code| lowercase">
              {{ country.name }}
            </option>
          </select>
        </div>
    </div>


    <div class="row">
      <div class="col">
        <button class="btn btn-primary float-end"
                type="submit">
          Select
        </button>
      </div>
    </div>

  </form>


  <h3>Form</h3>
  <code><pre>{{ myForm.valid }}</pre></code>
  <code><pre>{{ myForm.value | json }}</pre></code>


</div>
